<div class="grid-container">
  <h1 class="mat-h1" style="text-align: center">Plan Finansowy</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
              {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <table class="details-table">
            <tr>
              <th>Planowany przychód:</th>
              <th>Suma planowanych wydatków:</th>
              <th>Oszczędności:</th>
            </tr>
            <tr>
              <td>10000 PLN</td>
              <td>3000 PLN</td>
              <td>7000 PLN</td>
            </tr>
              <br>
            <tr>
              <th>Aktualny przychód:</th>
              <th>Suma aktualnych wydatków:</th>
              <th>Aktualne oszczędności:</th>
            </tr>
            <tr>
              <td>9584 PLN</td>
              <td>2387 PLN</td>
              <td>7197 PLN</td>
            </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
